.landing{
  position: relative;
}
#over-image{
  position: absolute;
  top: 130px;
  right: 550px;
}
#landing-text{
  position: absolute;
  top: 451px;
  left: 455px;
  font-family: 'Slabo 27px', serif;
  color:#FFFFFF;
  word-spacing: 5px;
}
#happy-hour{
  font-family: 'Slabo 27px', serif;
}
#party-time{
  padding-left: 156px;
  padding-bottom: 42px;
  padding-right: 165px;
  padding-top: 0px;
  background: #F15A29;
  font-family: 'Slabo 27px', serif;
}
.breakfast{
  position: relative;
  text-align: center;
}
#breakfast-text{
  position: absolute;
  top: 50%;
  left: 40%;
  color: #FFFFFF;
  font-family: 'Courgette', cursive;
}
.lunch{
  position: relative;
  text-align: center;
}
#lunch-text{
  position: absolute;
  top: 50%;
  left: 40%;
  color: #FFFFFF;
  font-family: 'Courgette', cursive;
}
.dinner{
  position: relative;
  text-align: center;
}
#dinner-text{
  position: absolute;
  top: 50%;
  left: 40%;
  color: #FFFFFF;
  font-family: 'Courgette', cursive;
}
.fastFood-images{
  margin-top: 120px;
  margin-left: 146px;
  border: 3px solid #ddd;
  border-radius: 2px;
  padding: 15px;
  width: 530px;
}
.fastFood-text{
  margin-top: 150px;
  margin-left: 82px;
  width: 400px;
}
.drinks-text{
  margin-top: 142px;
  margin-left: 190px;
  width: 400px;
}
.drinks-images{
  margin-top: 100px;
  font-size: 0;
  border: 3px solid #ddd;
  border-radius: 2px;
  padding: 15px;
  width: 530px;
}
.foods{
  margin-top: 100px;
  position: relative;
}
#foods-navbar{
  position: absolute;
  top: 100px;
  left: 124px;
  right: 169px;
}
